{namespace tk=Tx_Tkaddress_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
	<f:form method="post" action="update" name="updatedAddress" object="{address}" arguments="{address : address, page : page}"  enctype="multipart/form-data" >
		<f:for each="{fields}" as="field">
			<f:cycle as="row" values="{0: 'odd', 1: 'even'}">
				<div class="formrow">
					<label for="{field}">{f:translate(key : '{field}')}</label>
					<f:if condition="{tk:type(fieldName : '{field}')} == 0">
						<!--						{address -> tk:property(propertyName: '{field}')}-->
						<f:form.textbox property="{field}"  />
					</f:if>
					<f:if condition="{tk:type(fieldName : '{field}')} == 1">
						<f:form.select property="{field}"  options="{m: '{f:translate(key:\"gender_m\")}', f: '{f:translate(key:\"gender_f\")}'}" />
					</f:if>
					<f:if condition="{tk:type(fieldName : '{field}')} == 2">
						<f:form.textbox property="{field}" class="datepicker" value="{address.birthday -> f:format.date(format:'d.m.Y')}" />
					</f:if>

					<f:if condition="{tk:type(fieldName : '{field}')} == 3">
						<f:for each="{address.image}" as="image" key="imageNumber">							
							<f:if condition="{imageNumber} == 0">
								<f:then>
									<f:if condition="{image}">
										<f:image src="uploads/pics/{image}" alt="{address.name}"  title="{address.name}" width="95m" height="70m" />
										<f:form.checkbox name="removeImage[{imageNumber}]" value="{imageNumber}" style="width: 12px;" />
										{f:translate(key : 'deleteImage')}<br>
									</f:if>
								</f:then>
								<f:else>
									<div style="margin-left: 160px">
									<f:image src="uploads/pics/{image}" alt="{address.name}"  title="{address.name}" width="95m" height="70m" />
									<f:form.checkbox name="removeImage[{imageNumber}]" value="{imageNumber}" style="width: 12px;" />
									{f:translate(key : 'deleteImage')}<br>
									</div>
								</f:else>
							</f:if>
						</f:for>

						<f:if condition="{newImages}">
							<div style="margin-left: 160px">
							<f:for each="{newImages}" as="newImage">
								<div class="">
									<f:form.upload name="newImage[]" />
								</div>
							</f:for>
								</div>
						</f:if>
					</f:if>
					<f:if condition="{tk:type(fieldName : '{field}')} == 4">
						<f:form.select property="{field}" options="{groups}" optionValueField="uid" optionLabelField="title" multiple="true" />
					</f:if>

				</div>
			</f:cycle>
		</f:for>
		<f:form.submit class="submit" value="<f:translate key='submit_edit' />" />
	</f:form>
</f:section>